{% extends 'base.html' %} {% load static %} {% block content %}

<div class="row my-4">
  <div class="col-md-4">
    <div class="card shadow-lg" style="width: 18rem">
      <img
        src="{% static 'images/python.png' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Python Programming</h5>
        <p class="card-text">
          Python is a popular programming language. It was created by Guido van
          Rossum, and released in 1991.
        </p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow-lg" style="width: 18rem">
      <img
        src="{% static 'images/java.png' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Java Programming</h5>
        <p class="card-text">
          Java is a high-level, class-based, object-oriented programming
          language that is designed to have as few implementation dependencies
          as possible.
        </p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow-lg" style="width: 18rem">
      <img
        src="{% static 'images/javaScript.png' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">JavaScript Programming</h5>
        <p class="card-text">
          JavaScript is a programming language that conforms to the ECMAScript
          specification. JavaScript is high-level, often just-in-time compiled,
          and multi-paradigm.
        </p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
