<!-- NavbarSection -->

<div class="navbar navbar-expand-lg bg-light text-light sticky-top shadow">
  <div class="container">
    <a href="#" class="navbar-brand text-primary font-monospace">e-Learning</a>
    <button
      type="button"
      class="navbar-toggler bg-primary"
      data-target="#navbarSupportedContent"
      data-toggle="collapse"
      aria-controls="navbarSupportedContent"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
        <li class="nav-item">
          <a href="#" class="nav-link text-primary">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-primary">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-primary">Contact</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-primary">Courses</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="#" class="nav-link text-primary">Login</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-primary">Register</a>
        </li>
      </ul>
    </div>
  </div>
</div>
